<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>事件</title>
        <!-- angularjs包 -->
        <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>

</head>
<body>

    <!-- 1.ng-click指令
    <div ng-app="" ng-init="count=0">
        <button ng-click="count=count+1">点我+1！</button>
        <p>{{count}}</p>
    </div> -->
    

    2.隐藏html元素
    ng-hide指令用于设置应用部分是否可见
    <div ng-app="myApp" ng-controller="myCtrl">
        <button ng-click="toggle()">隐藏/显示</button>
        <p ng-hide="myVar">
            名：<input type="text" ng-model="firstName">
            <br>
            姓名：<input type="text" ng-model="lastName">
            <br>
            FullName:{{firstName+" "+lastName}}
        </p>
    </div>

    <script>
        var app=angular.module('myApp',[]);
        app.controller('myCtrl',function($scope){
            $scope.firstName="John",
            $scope.lastName="Dee"
            $scope.myVar=false;
            $scope.toggle=function(){
                $scope.myVar=!$scope.myVar;
            }
        });
    </script>
</body>
</html>